<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img to src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Rubik%27s_cube.svg/1200px-Rubik%27s_cube.svg.png" style="width: 60px;" alt="">
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/']">Cubos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/login']">Iniciar Sesión</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Marcas</a>
            <ul class="dropdown-menu" >
              @for (marca of marcas; track marca) {
                <li class="bg-dark"><a class="nav-link" [routerLink]="['/cubosmarca/', marca]">{{marca}}</a></li>
              }
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="sesion">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
            <ul class="dropdown-menu" >
              <li class="bg-dark">
                <a class="nav-link active" [routerLink]="['/perfil']">Perfil</a>
                <a class="nav-link active" [routerLink]="['/compras']">Compras</a>
                <a class="nav-link active" [routerLink]="['/compra']">Realizar Pedido</a>
              </li>
            </ul>
          </li>
          <a (click)="cerrarSesion()" *ngIf="sesion" class="btn btn-danger" [routerLink]="['/cubos']">Cerrar sesión</a>
        </ul>
      </div>
    </div>
  </nav>
</div>